.Home-header {
  font-size: 55px;
  font-family: "Lato";
  font-weight: 300;
  color: #152c54;
}

.Home-btn-down {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background-color: #50c4ed;
  border-radius: 200px;
  cursor: pointer;
  margin-top: 40px;
}
