.about-box {
  display: flex;
  flex-direction: column;
  padding: 100px 400px;
  gap: 30px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-h1 {
  color: #152c54;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -0.8px;
}
.sub-header-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-header {
  font-size: 26px;
  color: #152c54;
  font-weight: 200;
  letter-spacing: -0.1px;
}

.welcome-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}
