.header-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 200px;
  gap: 40px;
}

.header-p {
  font-size: 30px;
  width: 850px;
}

.header-p-center {
  display: flex;
  justify-content: center;
}
